body {
    background-color: $back;
    color: $text;
    user-select: none;
    transition: .3s ease;
    font-family: 'Montserrat';
}

.image {
    width: 300px;
    height: 500px;
    background-size: cover;
    background-image: url('img/brock-wegner.jpg');
}